<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <!--User info、New book開始-->
    <%= render 'users/list', user: @user %>
    <!--User info、New book終了-->
    <!--UserBooks開始-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
      　<thead>
          <tr>
            <th></th>
          　<th>Title</th>
          　<th>Body</th>
          　<th colspan="3"></th>
          </tr>
      　</thead>
      　<tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to attachment_image_tag(book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60"), "/users/#{book.user.id}" %></td>
          　<td><%= link_to book.title, book_path(book) %></td>
          　<td><%= book.body %></td>
          </tr>
          <% end %>
      　</tbody>
      </table>
    </div>
    <!--UserBooks終了-->
  </div>
</div>