<h1>User info</h1>

<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image_id, format: 'jpeg', size: "60x60" %> <!--, fallback: "no_image.jpg"-->
  <h4>Name</h4>
  <h3 class="profile-name"><%= @user.name %></h3>
  <h4>Introduction</h4>
  <h3 class="profile-introduction"><%= @user.introduction %></h3>
  <% if @user.id == current_user.id %>
  <p><%= link_to "Edit User", edit_user_path(@user) %></p>
  <% end %>
</div>

