<h2>Books</h2>
<table>
　<thead>
    <tr>
    　<th>Title</th>
    　<th>Body</th>
    </tr>
　</thead>
　<tbody>
    <% @books.each do |book| %>
    <tr>
      <!--　画像挿入　-->
    　<td><%= book.title %></td>
    　<td><%= book.body %></td>
    </tr>
    <% end %>
　</tbody>
</table>