<h2>Book detail</h2>
<table>
　<thead>
    <tr>
    　<th>Title</th>
    　<th>Body</th>
    </tr>
　</thead>
　<tbody>
    <tr>
    　<td><%= @book.title %></td>
    　<td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"} %>
      <% end %>
    </tr>
　</tbody>
</table>